.metadata
bin/
tmp/
*.tmp
*.bak
*.iml
*.swp
*~.nib
*.class
*.jar
local.properties
.settings/
.loadpath
.recommenders

#idea IDE
java/.idea/
.idea/

# Eclipse Core
.project

#log file
*.log

#Maven
java/target/
target/
result/
dependency-reduced-pom.xml
ecii/target/*
ecii/result/*
ecii/dependency-reduced-pom.xml

#Test Resources
src/main/resources/forExperiment/
src/main/resources/pdfs
testpdfs/
*.jar/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/
